.header-saludo {
    margin-top: 40px;
    margin-left: 25px;
    font-size: 1.5rem;
}

.header-saludo h1 {
    margin-left: 12px;
}

.header-saludo h3 {
    margin-top: -30px;
    color: rgb(121, 117, 117);
    font-size: 1.2rem;
}