.header__home {
    color: $text-light;
}

.home__content {
    align-items: center;
    min-height: 80vh;
    display: flex;
    justify-content: center;
}

.buttons {
    display:flex;
    justify-content: space-around;
    width: 60%;
}

.home__btn-login,
.home__bnt-signup {
    position: relative;
    background-color: $secondary;
    color: $text-light;
    font-size: 1.4rem;
}

